@model workshop1.Models.OrderQueryArg
@{ ViewBag.Title = "訂單查詢頁面"; }


@using (Html.BeginForm("OrderList", "Order", FormMethod.Post))
{

    <table style="margin-top:10px;">
        <tr>
            <td>@Html.LabelFor(m => m.OrderID)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.OrderID, new { type= "number", style="width:200px"})</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CompanyName)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.CompanyName, new { @class="k-textbox", style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmployeeID)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.EmployeeID, new { style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ShipperID)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.ShipperID, new { style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.OrderDate)</td>
            <td>@Html.TextBoxFor(m => m.OrderDate, new {  style = "width:200px", @class = "DateClass" })</td>
            <td>@Html.LabelFor(m => m.ShippedDate)</td>
            <td>@Html.TextBoxFor(m => m.ShippedDate, new {  style = "width:200px", @class = "DateClass" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RequiredDate)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.RequiredDate, new {  style = "width:200px", @class = "DateClass" })</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <button id="submit" type="button" class="btn btn-primary" onclick="SubmitQuery()">查詢</button>
                <input type="reset" value="清除" class="btn btn-warning" />
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("CreateOrder", "Order")';">新增訂單</button>
            </td>
        </tr>
    </table>

    <div id="QueryResult"></div>

    <script>
        
        $().ready(function () {
            $(".DateClass").kendoDatePicker({ format: "yyyy/MM/dd" });
            let EmployeeList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.EmployeeList));
            let ShipperList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ShipperList));
            

            $("#EmployeeID").kendoComboBox({
                dataTextField: "FirstName",
                dataValueField: "EmployeeID",
                dataSource: EmployeeList,
                template: "#: FirstName # #: LastName #",
                valueTemplate: "#: FirstName # #: LastName #",
                filter: "contains",
                suggest: true
            });

            $("#ShipperID").kendoComboBox({
                dataTextField: "CompanyName",
                dataValueField: "ShipperID",
                dataSource: ShipperList,
                filter: "contains",
                suggest: true
            });

            $("#OrderID").kendoNumericTextBox({
                min :0
            });

            $("#QueryResult").kendoGrid({
                columns: [
                    {
                        field: "OrderID",
                        title: "OrderID"
                    },
                    {
                        field: "CompanyName",
                        title: "CompanyName"
                    },
                    {
                        field: "OrderDate",
                        title: "OrderDate",
                        format: "{0:yyyy/MM/dd}"
                    },
                    {
                        field: "ShippedDate",
                        title: "ShippedDate",
                        format: "{0:yyyy/MM/dd}"
                    },
                    {
                        field: "Freight",
                        title: "Freight",
                        format: "{0:#}"
                    },
                    {
                        field: "修改",
                        command: [{
                            name: "修改",
                            click: function (e) {
                                // prevent page scroll position change
                                e.preventDefault();
                                // e.target is the DOM element representing the button
                                var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                // get the data bound to the current table row
                                var data = this.dataItem(tr);
                                location.href = "/Order/UpdateOrder?orderID=" + data.OrderID;
                            }
                        }]
                    },
                    {
                        field: "刪除",
                        command: [{
                            name: "刪除",
                            click: function (e) {
                                // prevent page scroll position change
                                e.preventDefault();
                                // e.target is the DOM element representing the button
                                var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                // get the data bound to the current table row
                                var data = this.dataItem(tr);
                                DeleteOrder(data.OrderID);
                            }
                        }]
                    }

                ],
                pageable: {
                    pageSize: 10
                }
            });
            
        });

        function SubmitQuery(){
            $.ajax({
                type: "POST",
                url: "/Order/GetOrderList",
                data: {
                    "OrderID": $("#OrderID").val(),
                    "CompanyName": $("#CompanyName").val(),
                    "EmployeeID": $("#EmployeeID").val(),
                    "ShipperID": $("#ShipperID").val(),
                    "OrderDate": $("#OrderDate").val(),
                    "ShippedDate": $("#ShippedDate").val(),
                    "RequiredDate": $("#RequiredDate").val()
                },
                success: function (data) {
                    var DataSource = new kendo.data.DataSource({
                        batch: true,
                        data: data,
                        schema: {
                            model: {
                                fields: {
                                    OrderID: { type: "number" },
                                    CustomerID: { type: "number" },
                                    EmployeeID: { type: "number" },
                                    OrderDate: { type: "date" },
                                    RequiredDate: { type: "date" },
                                    ShippedDate: { type: "date" },
                                    Freight: { type: "number" },
                                    ShipCountry: { type: "string" },
                                    ShipCity: { type: "string" },
                                    ShipRegion: { type: "string" },
                                    ShipPostalCode: { type: "string" },
                                    ShipAddress: { type: "string" },
                                    CompanyName: { type: "string" }
                                }
                            }
                        },
                        pageSize: 10
                    });
                   
                    $("#QueryResult").data("kendoGrid").setDataSource(DataSource);
                 }
            });
        }
        function DeleteOrder(orderId) {
        $.ajax({
            type: "GET",
            url: "/Order/DeleteOrder?OrderID=" + orderId,
            dataType: "json",
            success: function (r) {
                alert('刪除成功');
                location.href='@Url.Action("Query", "Order")'
            },
            error: function (r) {
                alert('刪除失敗!');
            },
        })
    }
    </script>
}
